@charset "utf-8";
/* CSS Document */

body {
	background-color: black; 
}

/* Ændrer den brugte tekstfarve til hvid på alle h1, p og a elementer */


h1, p, a {
	color: white;
}

/* Sætter position på alle elementerne på siden. Alle elementer er givet hver sin class */

.navn {
	position: absolute;
	top: 10%;
	width: 100%;
	text-align: center;
	font-size: 80px;
	font-family: filmotype-honey, sans-serif;
	font-weight: 300;
	font-style: normal;	
}

.intro {
	
	position: absolute;
	top: 435px;
	right: 724px;
	left: 724px;
	bottom: 498px;
	text-align: center;
	font-size: 50px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	font-style: normal;
}
/* work knap på forside og contact side */

.work {
	position: absolute;
	top: 745px;
	right: 960px;
	left: 833px;
	bottom: 292px;
	font-size: 30px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.work2 {
	position: absolute;
	top: 10px;
	right: 271px;
	left: 1573px;
	bottom: 997px;
	font-size: 30px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: orange;
	
	
}

.work3 {
	position: absolute;
	top: 10px;
	right: 271px;
	left: 1573px;
	bottom: 997px;
	font-size: 30px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	font-style: normal;
	
	
	
}


/* contact knap på forside og contact side */

.contact {
	position: absolute;
	top: 745px;
	right: 742px;
	left: 950px;
	bottom: 292px;
	font-size: 30px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.contact2 {
	position: absolute;
	top: 10px;
	right: 24px;
	left: 1701px;
	bottom: 997px;
	font-size: 30px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.contact3 {
	position: absolute;
	top: 10px;
	right: 24px;
	left: 1701px;
	bottom: 997px;
	font-size: 30px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	font-style: normal;
	color:orange;
}
/* Home knap på work side */
.home {
	position: absolute;
	top: 10px;
	right: 1783px;
	left: 37px;
	bottom: 994px;
	font-size: 30px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* mail på forside og contact side */

.mail {
	position: absolute;
	top: 900px;
	right: 875px;
	left: 845px;
	bottom: 63px;
	font-size: 16px;
	margin-bottom: 20px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	font-style: normal;
	
}
.mail2 {
	position: absolute;
	top: 900px;
	right: 875px;
	left: 845px;
	bottom: 63px;
	font-size: 16px;
	margin-bottom: 20px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	font-style: normal;
	
}
/* twitter logo på forside og contact side */

.twitter {
	position: absolute;
	top: 840px;
	right: 742px;
	left: 1000px;
	bottom: 292px;
	
	
	
}
.twitter2 {
	position: absolute;
	top: 840px;
	right: 742px;
	left: 1000px;
	bottom: 292px;
	
	
	
}

/* linkedin logo på forside og contact side */

.facebook {
	position: absolute;
	top: 840px;
	right: 1032px;
	left: 840px;
	bottom: 122px;
	
}
.facebook2 {
	position: absolute;
	top: 840px;
	right: 1032px;
	left: 840px;
	bottom: 122px;
	
}
/* linkedin logo på forside og contact side */

.linkedin {
	position: absolute;
	top: 840px;
	right: 742px;
	left: 920px;
	bottom: 292px;
	
}
.linkedin2 {
	position: absolute;
	top: 840px;
	right: 742px;
	left: 920px;
	bottom: 292px;
	
}

.billede1 {
	position: absolute;
	top: 352px;
	right: 1342px;
	left: 14px;
	bottom: 352px;
}

.billede2 {
	position: absolute;
	top: 352px;
	right: 14px;
	left: 1342px;
	bottom: 352px;
}

.billede3 {
	position: absolute;
	top: 150px;
	right: 0px;
	
}

.getintouch {
	position: absolute;
	top: 75px;
	right: 1397px;
	left: 167px;
	bottom: 884px;
	font-family: poppins, Bold;
	font-size: 56px;
	white-space: nowrap;
	
}

.phonelogo {
	position: absolute;
	top: 358px;
	right: 1753px;
	left: 86px;
	bottom: 660px;

}

.addresslogo {
	position: absolute;
	top: 540px;
	right: 1753px;
	left: 86px;
	bottom: 450px;
	
}

.phone {
	position: absolute;
	top: 320px;
	left: 250px;
	bottom: 660px;
	font-family: poppins, medium;
	font-size: 40px;

}

.adress {
	position: absolute;
	top: 515px;
	left: 200px;
	bottom: 450px;
	font-family: poppins, medium;
	font-size: 40px;
}


/* Disse fire linjer kode sørger for, at linket ikke har en underline. Her er rækkefølge vigtigt */

.mail:link { text-decoration: none; }
+

.mail:visited { text-decoration: none; }


.mail:hover { text-decoration: none; }


.mail:active { text-decoration: none; }
	
/* Mail på contact side */

.mail2:link { text-decoration: none; }


.mail2:visited { text-decoration: none; }


.mail2:hover { text-decoration: none; }


.mail2:active { text-decoration: none; }



